.button {
  padding: 13px;
  min-width: 240px;
  background-color: $accent;
  border: none;
  border-radius: 3px;
  outline: none;

  color: $light;
  font-size: 14px;
  font-weight: bold;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover:not(:disabled) {
    background-color: $accent-hover;
    transition: all 0.3s;
  }

  &--disabled {
    background-color: $accent-disabled;
  }

  &--success {
    background-color: $success-disabled;
  }
}