$bg-color: #e5e5e5;
$light: #ffffff;
$accent: #558cb7;
$accent-hover: #4f7ea3;
$accent-disabled: #82b3d9;
$border: #dddddd;
$border-hover: #82b3d9;
$grey: #777777;
$success: #007b1b;
$success-disabled: #65a272;
$error: #9f2b11
